<div class="uk-card uk-card-default uk-card-small uk-text-center uk-text-baseline uk-animation-scale-up">
    <div class="uk-card-media-top">
        <img src="{{secure_url}}">
    </div>
    <a href="/deletePoiImage/{{public_id}}" class="ui icon button">
        <i class="large icon trash"></i></a>
</div>