<nav class="ui inverted menu">
    <header class="header item"><a href="/"> National School</a></header>
    <div class="right menu">
        <a id="userAccountSettings" class= "item" href="/userAccountSettings"> User Account Settings</a>
        <a id="settings" class= "item" href="/settings">My Account Settings</a>
        <a id="logout" class= "item" href="/logout"> Logout</a>
    </div>
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>