<nav class="ui inverted menu">
    <header class="header item"><a href="/"> National School</a></header>
    <div class="ui pointing dropdown link item">
        <span class="text">Categories</span>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="header">Categories</div>
            <div class="item">
                <i class="dropdown icon"></i>
                <span class="text">Regions</span>
                <div class="menu">
                    <div class="header">Regions</div>
                    <div class="item" >
                        <a href="/poiRegionSelect/southwest" style="color:gray"> Southwest</a>
                    </div>
                    <div class="item">
                        <a href="/poiRegionSelect/west" style="color:gray"> West</a>
                    </div>
                    <div class="item">
                        <a href="/poiRegionSelect/east" style="color:gray"> East</a>
                    </div>
                    <div class="item">
                        <a href="/poiRegionSelect/north" style="color:gray"> North</a>
                    </div>
                    <div class="item">
                        <a href="/poiRegionSelect/south" style="color:gray">south</a>
                    </div>
                    <div class="item">
                        <a href="/poiRegionSelect/southeast" style="color:gray">Southeast</a>
                    </div>
                    <div class="divider"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="right menu">
        <a id="Update user" class= "item" href="/newPoi"> New National School</a>
        <a id="settings" class= "item" href="/settings"> Settings</a>
        <a id="logout" class= "item" href="/logout"> Logout</a>
    </div>
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>