{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column">

        </aside>
        <article class="ten wide column">
            <header class="ui  header"> Point of Interest website for National school information</header>
            <p> Information to be added to the website </p>
        </article>
    </div>
</section>
