{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column">

        </aside>
        <article class="ten wide column">
            <header class="ui  header"> Welcome to the primary schools,  Web Application</header>
            <p> Please login or signup to access more information on Primary schools in Ireland.
                The data available is from school term 2013/2014.</p>

            <p> You may also request to become an administrator, which can amend details for primary schools.
            This also allows for photos to be posted or removed as required.</p>
        </article>
    </div>
</section>
