{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column">

        </aside>
        <article class="ten wide column">
            <header class="ui  header"> POI application</header>
            <p> Details etc to be added</p>
        </article>
    </div>
</section>
