{{> mainMenuSuperAdmin _id="superAdmin" }}

<section class="ui raised segment">

    <H1>Super Admin Home page</H1>
    <p> This page takes care of the maintenance of the application</p>



    <div class="ui  divider"></div>

    </div>

</section>